@model IEnumerable<HelloMVC.Models.Customer>

@{
    ViewBag.Title = "Customer List";
}

<h2>Customer List</h2>

<p>
    @Html.ActionLink("Create New", "AddCustomer")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telephone)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telephone)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditCustomer", new { id=item.Id }) |
            @Html.ActionLink("Details", "ViewCustomer", new { id=item.Id }) |
            @Html.ActionLink("Delete", "DeleteCustomer", new { id=item.Id })
        </td>
    </tr>
}

</table>
